@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    font-size: 20px;
}

nav {
    border: 0px solid black;
    height: 70px;
    margin-top: 20px;
}

a{
    text-decoration:none; 
    color:white; 
}

.menu {
    display: flex;
    border: 0px solid black;
    justify-content: space-around;
}

.menu-buttons {
    display: flex;
}

.register-btn, .login-btn, .logout-btn, .write-blog-btn {
    border: 1px solid black;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.hide{
    display:none;
}

.blog-container{
    width:1200px;
    border:0px solid black;
    margin:20px auto;
}

.blog-wrapper {
    display: flex;
    flex-direction:column;
    padding: 50px;
    width:1000px;
    border:0px solid black;
    margin:50px auto;
}

.blog-title, .blog-title-edit {
    display: block;
    margin-bottom: 20px;
    font-size:18px;
    font-family:'Raleway';
    padding:5px 0px;
    outline:none;
}

.blog-body, .blog-body-edit {
    font-size: 18px;
    outline: none;
}

.save-blog-button, .update-blog-button{
    padding:10px 20px; 
    border:1px solid black;
    background-color:lawngreen;
    color:white; 
    width:100px;
    margin-top:20px;
    cursor:pointer; 
    outline:none; 
}

.view-blog-button {
    padding: 10px 20px;
    margin-bottom:20px;
    border: 1px solid black;
    background: black;
    color: white;
    width: 195px;
    margin-top: 10px;
    cursor: pointer;
}

.blogs-container{
    width:800px;
    border:1px solid black;
    margin:50px auto;
    height:auto;
    display:flex;
    flex-direction:column;
}

.blogs-title{
    width:100%;
    border:0px solid black;
    height:100px;
}

.blogs-body {
    width: 100%;
    border: 0px solid black;
    height: 100px;
    margin-bottom:20px;
}

.blog-buttons{
    display:flex;
}

.edit-blog, .delete-blog{
    padding:5px 10px;
    color:white;
    margin:15px 5px;
    cursor:pointer; 
    border-radius:4px;
}

.edit-blog{
    background-color:dodgerblue;
}

.delete-blog{
    background:red;
}

